@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed:300');

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #FFF8F0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    padding-top: 80px;
}

.maroon {
    color: #7b1113;
}

.maroon:hover {
    color: black;

.nav-item {
    margin: 0 25px;
}

a {
    color: black;
}

a:hover {
    color: #7b1113;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#pills-tabContent {
    padding: 30px 0px;
    border-top: 1px dotted #c3c3c3;
}

.row {
    padding: 5px 0;
}

section img {
    width: 70%;
}

section img.profile {
    padding: 10px 40px;
}

h1 {
    padding-top: 15px;
}

h2 {
    padding: 30px 0;
    color: #7b1113;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
}

.width-auto {
    width: auto;
    display: inline;
}

a.social h1 {
    display: inline;
}

footer {
    border-top: 1px dotted #c3c3c3;
    padding: 10px 0 50px 0;
}
